body{
    background-image: url('../img/lwg3.png');
    background-size: cover;
    background-repeat: no-repeat;
      
        
        
    }

       .table {
        border-collapse: collapse;
        background-color: rgba(220, 220, 220, 0.5); /* Gunakan rgba() untuk warna dengan alpha (transparansi) */
        text-align: center;
        width: 800px;
        height: auto;
        margin-left: 400px;
        margin-right: 400px;
        margin-top: 50px;
        border-radius: 5px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    tr:nth-child(even) {
        background-color: rgba(255, 255, 255, 0.7); /* Transparansi lebih rendah pada baris genap */

        .container{
            background-color: #ddd;
            background:-repeat: no-repeat;
            background-size: 100px 86px;

            width: 900px;
            margin: auto;
        }
    }